<% if (onboarding) { %>
<b>Welcome to Lightening Trade Bot <%= name %> </b>
Your mnemonic is <code><%= wallet.mnemonic %></code>, ensure to keep this safe and secure.<% } else { %>
<b>Welcome back to Lightening Trade Bot <%= name %> </b><% } %>

Your testnet wallet address: <code><%= wallet.address %></code> <i>(Tap to Copy)</i>
<a href="<%= explorer_url %>">Explorer</a>

Balance: <%= wallet.lastRecordedBalance %>