<% if (onboarding) { %>
    <b>Welcome to Lightening Trade Bot <%= name =%> </b>
<% } else { %>
    <b>Welcome back to Lightening Trade Bot <%= name =%> </b>
<% } %>

<p>Your mnemonic is <%= wallet.mnemonic =%>, ensure to keep this safe and secure.</p>

<p>Your wallet address is <%= wallet.address =%> </p>

<p>Balance: <%= balance =%> </p>